{% extends 'base.html' %}
{% block body %}


<!--

<script type="text/javascript">

setTimeout(function ()
    {
        if (self.name != '_refreshed_'){
        self.name = '_refreshed_';
        self.location.reload(true);
    } else {
        self.name = '';
    }
  }, 500);


</script>
-->


<!--<h3>Round {{ round }}</h3>-->

<div class="container">
    <ul>
    {% if (round%2==0 ) %}
        <li><p style="font-size:20px">Below is a set of top 5 recommended books that <b>the system predicts you might be interested in reading <font size = "+2.5">based on the ratings you provided at the beginning.</font></b> </h4></li>
    {% else %}
        <li><p style="font-size:20px">Below is another set of top 5 recommended books that <b>the system predicts you might be interested in reading <font size = "+2.5"> based on the ratings you provided at the beginning.</font></b> </h4></li>
    {% endif %}
    <li><p style="font-size:20px">For each book, the predicted rating shows how much <b>the system thinks you would like the book.</h4></li>
</ul>
</div>

<div class="panel panel-default">



  <!-- Default panel contents -->

      <form class="form-inline" action="/choice/{{session['user']}}/{{round}}" method="POST">

<!-- For Recommendation 1.......................................................................... -->


<div class="panel-heading">

    <h3><strong><a href="#">{{pred_1.title}}  &emsp; (Year: {{pred_1.year}}) &emsp; (Genre: {{pred_1.genres}})</a></strong></h3>
    <h4> <font size="+2"><b>The system predicts you would like this book: <span style="color:#1B73B6">{{tp_1.num_1}} out of 10</span></b></font></h4>
        <!-- <td><a href="/view_item/{{pred_1.id}}">{{pred_1.title}}</a></td> -->


        <!-- <img src={{pred_1.imgurl}}> -->
        <div>
        <img align="left" HSPACE="50" width="100" height="150"  src={{pred_1.poster_path}}>
       <!-- <iframe width="560" height="315" src="{pred_2.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p style="margin-top: 50px;"> </p>
         <div style="width: 600px; height: 150px; overflow: auto; margin: 0 auto">
            <p style="text-align: left;"><u>Summary:</u>{{pred_1.overview}}</p>
        </div>
        </div>
        <BR CLEAR="left" />

</div>



<!-- For Recommendation 2.......................................................................... -->



<div class="panel-heading">

      <h3><strong><a href="#">{{pred_2.title}} &emsp; (Year: {{pred_2.year}}) &emsp; (Genre: {{pred_2.genres}})</a></strong></h3>
    <h4> <font size="+2"><b>The system predicts you would like this book: <span style="color:#1B73B6">{{tp_1.num_2}} out of 10</span></b></font></h4>
      <!-- <td><a href="/view_item/{{pred_2.id}}">{{pred_2.title}}</a></td> -->
      <!-- <img src={{pred_2.imgurl}}> -->
        <div>
        <img align="left" HSPACE="50" width="100" height="150"  src={{pred_2.poster_path}}>
       <!-- <iframe width="560" height="315" src="{pred_2.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p style="margin-top: 50px;"> </p>
         <div style="width: 600px; height: 150px; overflow: auto; margin: 0 auto">
            <p style="text-align: left;"><u>Summary:</u>{{pred_2.overview}}</p>
        </div>
        </div>
        <BR CLEAR="left" />



</div>

<!-- For Recommendation 3.......................................................................... -->

<div class="panel-heading">
      <h3><strong><a href="#">{{pred_3.title}} &emsp; (Year: {{pred_3.year}})  &emsp; (Genre: {{pred_3.genres}})</a></strong></h3>
    <h4><font size="+2"><b>The system predicts you would like this book: <span style="color:#1B73B6">{{tp_1.num_3}} out of 10</span></b></font></h4>

      <!-- <td><a href="/view_item/{{pred_3.id}}">{{pred_3.title}}</a></td> -->
      <!-- <img src={{pred_3.imgurl}}> -->
          <div>
        <img align="left" HSPACE="50" width="100" height="150"  src={{pred_3.poster_path}}>
       <!-- <iframe width="560" height="315" src="{pred_2.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p style="margin-top: 50px;"> </p>
         <div style="width: 600px; height: 150px; overflow: auto; margin: 0 auto">
            <p style="text-align: left;"><u>Summary:</u>{{pred_3.overview}}</p>
        </div>
        </div>
        <BR CLEAR="left" />


</div>

<!-- For Recommendation 4.......................................................................... -->
<div class="panel-heading">
      <h3><strong><a href="#">{{pred_4.title}} &emsp; (Year: {{pred_4.year}}) &emsp; (Genre: {{pred_4.genres}})</a></strong></h3>
    <h4><font size="+2"><b> The system predicts you would like this book: <span style="color:#1B73B6">{{tp_1.num_4}} out of 10</span></b></font></h4>
      <!-- <td><a href="/view_item/{{pred_4.id}}">{{pred_4.title}}</a></td> -->
       <!-- <img src={{pred_4.imgurl}}> -->
        <div>
        <img align="left" HSPACE="50" width="100" height="150"  src={{pred_4.poster_path}}>
       <!-- <iframe width="560" height="315" src="{pred_2.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p style="margin-top: 50px;"> </p>
         <div style="width: 600px; height: 150px; overflow: auto; margin: 0 auto">
            <p style="text-align: left;"><u>Summary:</u>{{pred_4.overview}}</p>
        </div>
        </div>
        <BR CLEAR="left" />

</div>

<!-- For Recommendation 5.......................................................................... -->

<div class="panel-heading">
      <h3><strong><a href="#">{{pred_5.title}} &emsp; (Year: {{pred_5.year}}) &emsp; (Genre: {{pred_5.genres}})</a></strong></h3>
    <h4><font size="+2"><b>The system predicts you would like this book: <span style="color:#1B73B6">{{tp_1.num_5}} out of 10</span></b></font></h4>

      <!-- <td><a href="/view_item/{{pred_5.id}}">{{pred_5.title}}</a></td> -->
      <!-- <img src={{pred_5.imgurl}}> -->
        <div>
        <img align="left" HSPACE="50" width="100" height="150"  src={{pred_5.poster_path}}>
       <!-- <iframe width="560" height="315" src="{pred_2.youtubeId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <p style="margin-top: 50px;"> </p>
         <div style="width: 600px; height: 150px; overflow: auto; margin: 0 auto">
            <p style="text-align: left;"><u>Summary:</u>{{pred_5.overview}}</p>
        </div>
        </div>
        <BR CLEAR="left" />



</div>










<div class="panel panel-heading">



        <div class="panel panel-body" style="background-color:#f2f4f7">
            <div class="panel-heading">
          <h4><strong>Which book you would like to read?</strong></h4>
      <div class="control-group inline">
        <div class="controls">
          <label class="radio">
            <input type="radio" name="user_choice" id="1" value="1" required>{{pred_1.title}}</label> <br>
          <label class="radio">
            <input type="radio" name="user_choice" id="2" value="2" required>{{pred_2.title}}</label> <br>
                <label class="radio">
            <input type="radio" name="user_choice" id="3" value="3" required>{{pred_3.title}}</label> <br>
                <label class="radio">
            <input type="radio" name="user_choice" id="4" value="4" required>{{pred_4.title}}</label> <br>
                <label class="radio">
            <input type="radio" name="user_choice" id="5" value="5" required>{{pred_5.title}}</label> <br>
                <label class="radio">
            <input type="radio" name="user_choice" id="6" value="6" required>I don't like any of the above items.</label> <br>
        </div>
      </div>
    </div>

  </div>

<button class="btn btn-danger btn-lg" id="update-button" type="submit">Submit</button>


      </form>


</div>


{% endblock %}
