{% extends 'base.html' %}
{% block body %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>

<script type="text/javascript">
function myFunction(x) {
  var popup = document.getElementById(x);
    popup.onmouseover = function() {
    document.getElementById(x).style.display = 'block';
  }
  popup.onmouseout = function() {
    document.getElementById(x).style.display = 'none';
  }
  /*popup.classList.toggle("show");*/
}
</script>

<script type="text/javascript">
function removePopup(x) {
  var popup = document.getElementById(x);
  popup.classList.remove("show");
}

function showPopup(x) {
  var allPopups = document.getElementsByClassName("popuptext");
  var i;
  for (i = 0; i < allPopups.length; i++) {
    allPopups[i].classList.remove("show");
    }

  var popup = document.getElementById(x);
  popup.classList.toggle("show");
}
;


$(document).ready(function () {


    $('#selected-count').html('You have rated ' + 0 + ' books');
    const button = document.getElementById('update-button');
    button.disabled = true;

    function getCount(){
       return $("select.countable option:selected[value!='null']").length;
    }

    $('.countable').change(function () {
        var count = getCount();
        $('#selected-count').html('You have rated '+count+' books');

        if (count<20) {
          button.disabled = true;
          ('#selected-count').html('You have rated ' +count + ' books. Button Disabled');
        } else {
          button.disabled = false;
          ('#selected-count').html('You have rated ' +count + ' books. Button Enabled');
        }

    })



});

</script>

<style type="text/css">
/* Popup container */
.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;

}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: relative;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;


}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* Styling for the summary container */
  .summary-container {
    display: none;
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }

  /* Styling for the link */

 .link:hover,
.link:hover + .summary-container,
.summary-container:hover {
  display: block;
}


</style>


<script type="text/javascript">
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('.table').DataTable( {
      ordering:  false,
      paging: false,
      scrollY: 800
      } );

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>

<style media="screen" type="text/css">
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>


<style media="screen" type="text/css">
tfoot {
    display: table-header-group;
}
</style>

<div class="container">
  <h2><b>Instructions</b></h2>
<!--  <h4>The below table may take a couple of seconds to completely load! (You will see when it loads from the changing table and appearing search bar) <b>Please don't click on it until it completely loads!</b> Try to read the instructions till then!</h4>-->
  <ul>
  <li><p style="font-size:25px"> Please rate <b>at least 20 books to proceed.</b></p></li>
  <li><p style="font-size:25px"> To rate books, you need to select a score from the drop-down box in the your rating column.</p></li>
  <h4>(<b>Rating 10</b> = you like the book the most. <b>Rating 0</b>= You like the book the least).</h4>
  <li><p style="font-size:25px">If you need more information about books, you can click on the name of each of them.</p></li>
  <li><p style="font-size:25px"> Once you are done with the rating, click on <b>Show Recommendations</b>.</p></li>
<!--  <li><p style="font-size:20px">It will take 2-3 minutes for the next page to load, don't click on anything else till that  page loads.<h4> </li>-->

  </ul>
  <!--<h4>You can also filter each column as well, look at the bottom of the the table. </h4>-->
<!--<div class="container">-->

<!--</div>-->


<!--</div>-->
<br>
<br>
<br>



<div id="selected-count" style="font-size:180%;font-weight:bold;"></div>

<form action="/instructions/{{session['user']}}/{{round}}" method="POST" >

<div class="container" style="margin-top: 20px" >

<div class="row">
  <div class="col-md-10">

    <table id="example" class="table table-bordered table-hover" style="width:100%">

      <thead>
        <td>Book Title</td>
        <td>Genre</td>
        <td>Year</td>
        <td>Your Rating</td>

      </thead>
      <tbody>
        {% for r in ratings %}

            <tr>
              <td>
              <a class="link" href="#">{{r.item.title}}</a>

               <div class="summary-container">
                  <a href=#>
                   <img src={{r.item.youtubeId}} alt="Thumbnail">
                  </a>
                  <p>Summary: {{r.item.overview}}
                  </p>
                </div>
              </td>
              <td>{{r.item.genres}}</td>
              <td>{{r.item.year}}</td>

              <td><a href="/view_item/{{r.item.id}}/{{round}}"></a>
                <select id="Your Rating" name="user_rating" class="countable">
                  <option value="null"></option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <input type="hidden" name="item_id" value="{{ r.item.id }}"/>
                <input type="hidden" name="titles" value="{{ r.item.title }}"/>

<!--              </form>-->
              </td>
            </tr>
            {% endfor %}
      </tbody>
<!--      <tfoot>-->
<!--        <tr>-->
<!--          <th>Book Title</th>-->
<!--          <th>Year</th>-->
<!--          <th>Your Rating</th>-->

<!--        </tr>-->

<!--      </tfoot>-->
    </table>
  </div>

</div>
</div>

  <button class="btn btn-success btn-lg" id="update-button" type="submit">Show Recommendations</button>
</form>




{% endblock %}



